# Payroll App Configuration
# No internal database credentials required for SQLite standard operation.
# To connect to a custom MySQL (Aiven) DB, configure the keys below:
MYSQL_URL=
MYSQL_HOST=
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

# Gemini API Key
GEMINI_API_KEY=
